//
//   @heroes
// --------------------------------------------------------
//  _4_modules/_heroes.scss
// --------------------------------------------------------
//
//  Just your everyday, normal hero.  Contains a div that has
//  the media (video or image) in the background, and a div
//  for the main content.
//
// --------------------------------------------------------
//
//  Example: Hero
//  <div class="hero">
//    <div class="hero__main"><h1>Hello, there</h1></div>
//    <div class="hero__media"><img src="http://fillmurray.com/1000/400"></div>
//  </div>
//
// --------------------------------------------------------

.hero {
  @extend %clearfix;

  color: #fff;
  position: relative;
  width: 100%;

  min-height: 100%;
  overflow: hidden;

  @include media('screen and (max-height: 700px)', $no-query-fallback: true) {
    min-height: 680px;
  }
  @include media('screen and (max-width: 480px)', $no-query-fallback: true) {
    height: 100%;
    min-height: 480px;
  }

  .lte-ie8 & {
    // no background-size
    min-height: 778px !important;
  }
}

.hero__wrap {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;

  @include media('screen and (max-width: 480px)', $no-query-fallback: true) {
    transform: none;
    top: 80px;
  }
}

.hero__heading {
  @include brandon;
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  font-size: 154px;
  line-height: .9;
  max-width: $maxwidth;
  padding: 0 80px;
  text-transform: uppercase;

  @include media('screen and #{map-get($breakpoints-max, "medium")}', $no-query-fallback: false) {
    font-size: 64px;
    line-height: 1;
    padding: 0 40px;
  }

  @include media('screen and #{map-get($breakpoints-max, "small")}', $no-query-fallback: false) {
    font-size: 43px;
    line-height: 1;
    padding: 0 40px;
  }
}

.hero__video {
  position: absolute;
  top: 0;
  bottom: 0;

  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  background: #000 url(#{$baseurl}img/hero-replace.jpg) no-repeat 19.53125% 60.546875%;
  background-size: cover;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  z-index: -1;
}



// Crudely hide the video from iOS
@include media('screen and (max-width: 800px)', $no-query-fallback: false) {
  .hero__inner {
    background: transparent url(#{$baseurl}img/dot-grid.png) repeat 50% 50%;

    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .hero {
    background: #000 url(#{$baseurl}img/hero-replace.jpg) no-repeat 39.0625% 19.53125%;
    background-size: cover;
  }

  .hero__video {
    display: none;
  }
}

.hero__arrow {
  bottom: 80px;
  cursor: pointer;
  display: block;
  left: 50%;
  margin-left: -37px;
  position: absolute;
}
