//
//   @site-header
// --------------------------------------------------------
//  _5_sections/_site-header.scss
// --------------------------------------------------------
//
//  Site-wide header
//
// --------------------------------------------------------

.hero {
  @extend %clearfix;

  background-color: #000;
  color: #fff;

  @include media('screen and #{map-get($breakpoints, "small")}', $no-query-fallback: true) {
    min-height: 100%;
    overflow: hidden;
  }

  @include media('screen and (max-height: 700px)', $no-query-fallback: true) {
    min-height: 680px;
  }

  .lte-ie8 & {
    // no background-size
    min-height: 778px !important;
  }
}




//   @branding
// --------------------------------------------------------
//  The logo & (optional) wordmark
//
//  This would be setup like this
//
//  <a href="/" class="branding">
//    <img src="logo.svg" class="branding__logo" alt="My Company">
//    <h1 class="branding__wordmark">My Company</h1>
//  </a>
// --------------------------------------------------------

.branding {
  float: left;
}

.branding__logo {

}

.branding__wordmark {

}




//   @site-nav
// --------------------------------------------------------
//  Main Site Navigation
// --------------------------------------------------------

.site-nav {
  float: right;
}
