//
//   @site-header
// --------------------------------------------------------
//  _5_sections/_site-header.scss
// --------------------------------------------------------
//
//  Site-wide header
//
// --------------------------------------------------------




//   @branding
// --------------------------------------------------------
//  The logo & (optional) wordmark
//
//  This would be setup like this
//
//  <a href="/" class="branding">
//    <img src="logo.svg" class="branding__logo" alt="My Company">
//    <h1 class="branding__wordmark">My Company</h1>
//  </a>
// --------------------------------------------------------

.site-header {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.branding {
  background-color: #9f1897;
  display: block;
  height: 206px;
  left: 0;
  padding: 64px 4px 0 4px;
  position: absolute;
  top: 0;
  width: 206px;
  z-index: 10;

  @include media('screen and #{map-get($breakpoints-max, "medium")}', $no-query-fallback: false) {
    height: 135px;
    padding-top: 32px;
    width: 174px;
  }


  @include media('screen and (max-width: 540px)', $no-query-fallback: false) {
    display: none;
  }
}

.logo--left {
  float: left;
  margin-right: 50px;
  width: 325px;

  @include media('screen and #{map-get($breakpoints-max, "small")}', $no-query-fallback: false) {
    float: none;
    margin: 0 0 20px;
    width: 280px;
  }
}



//   @site-nav
// --------------------------------------------------------
//  Main Site Navigation
// --------------------------------------------------------

.site-nav {
  position: absolute;
  right: 150px;
  top: 74px;

  li {
    margin-left: 42px;
  }

  @include media('screen and #{map-get($breakpoints-max, "medium")}', $no-query-fallback: false) {

    right: 75px;
    top: 37px

  }

  @include media('screen and (max-width: 540px)', $no-query-fallback: false) {
    margin-right: -125px;
    right: 50%;
    top: 20px;

    a {
      font-size: 16px;
    }

    li {
      margin-left: 24px;

      &:first-child {
        margin-left: 0;
      }
    }

  }
}
