<a class="mobile-nav__btn js-nav" href="#">
    <div class="top-bar"></div>
    <div class="middle-bar"></div>
    <div class="bottom-bar"></div>
</a>

<header class="site-header" role="banner">

    <!-- Branding, can be a logo, img ect. -->
    <a class="branding" href="{{ baseurl }}">
      <img class="branding__logo" src="{{ baseurl }}/img/logo/logo-white.svg">
    </a>

    <!-- Main site nav -->
    <nav class="site-nav">
      <ul class="nav" role="navigation">
        <li><a class="btn btn--outline" href="#">About</a></li>
        <li><a class="btn btn--outline" href="#">Video</a></li>
      </ul>
    </nav>

</header>
