//
//   @headings
// --------------------------------------------------------
//   _3_elements/_headings.scss
// --------------------------------------------------------
//
//  We set any base styles for any headings that have
//  no classnames.
//
//  Note: Often, we'll use bold fonts, and if a bold font
//  has font-weight: bold it looks terrible.  In
//  this case, use font-weight: normal;

//  Double-stranded heading hierarchy is built into the
//  _vars.scss file. These styles actually extend that
//  hierarchy. See CSSwizardry for more information on
//  double-stranded headings:
//  csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css
//
// --------------------------------------------------------

.h-main {
  @include brandon;
  border-left-style: solid;
  border-left-width: 9px;
  line-height: 86px;
  font-size: 86px;
  margin-bottom: 34px;
  padding-left: 46px;
  text-transform: uppercase;

  @include media('screen and #{map-get($breakpoints-max, "small")}', $no-query-fallback: false) {
    font-size: 43px;
  }
}

.h-main--navy {
  border-color: #14bcc5;
  color: #14103e;
}

.h-main--red {
  border-color: #10516e;
  color: #e02e26;
}

.h-main--orange {
  border-color: #14bcc5;
  color: #f19328;
}

.h-main--teal {
  border-color: #f8bc29;
  color: #14bcc5;
}
